/* Empty. Add your own CSS if you like */

/*take care of an inner wrapper inside ion-content item*/
.scroll { height: 100%;}
.universe{
	background-image: url('../img/all_religions2.png');
	background-size: 100% 100%;	

}
.micontent{
	height:100%;
	width:100%;
	background-color: rgba(255,255,255,0.95);
}
.setico{
	/*font-size:1.5em;*/
}
.dacount{
	float:right;
	font-size:3em;
	margin-right:10px;
}
.daintro{
	padding-top:45%;
	text-align:center;
	font-size:larger;
	font-weight:bolder;
}
input[type="tel"]{
	text-align:right;
}